<hello name="{{ name }}"></hello>
<p>
  
</p>
<my-component></my-component>
<h3 style="text-align:center">
   INICIAR SESION
 </h3> 
<h3 style="text-align:center">
  Correo electronico
 </h3> 
 <p style="text-align:center">
   <input type="">
 </p> 
 <h3 style="text-align:center">
   Ingresa Contraseña
 </h3> 
 <p style="text-align:center">
   <input type="">
 </p>
  <p style="text-align:center">
    <a href="" class="boton_1">Iniciar secion</a>
   <a href="" class="boton_1">Cancelar</a>
 </p>
<style type="text/css">
  .boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 1px double #006505;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
</style>




